.Blog-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url("../../assets/sofa.jpg");
  background-attachment: fixed;
}

.main-heading_,.main-heading_Input{
  font-size: 3rem;
  margin-top: 2rem;
}
.main-heading_Input{background-color: rgba(0, 0, 0, 0);}


.blog_post_image{
  width: 40vw;
}

.blog_post_image_Container_feature{
  width: 40vw;
  height: 40vh;
  background-color: #27104dac;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 20px;
  color: wheat;
  cursor: pointer;

}
.blog_post_image_Container{
  width: 40vw;
  height: 40vh;
  background-color: #27104dac;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: wheat;
  cursor: pointer;
}


.blog_post_image_Container:hover,.blog_post_image_Container_feature:hover{
  background-color: #27104de3;
  border: 2px solid white;
}

.topRowFeatureImage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 20%;
  height: 70px;
  background-color: rgba(19, 14, 14, 0.404);
  border-radius: 1rem;
}

.topRowSectionImage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 30%;
  height: 50px;
  background-color: rgba(19, 14, 14, 0.404);
  border-radius: 1rem;
}

.editIconFeatureImage,.delIconFeatureImage{
  color: rgb(255, 255, 255);
  margin: 10px;

}
.editIconFeatureImage:hover {
color: rgb(147, 255, 255);
cursor: pointer;
}
.delIconFeatureImage:hover{
  color: rgb(255, 106, 106);
  cursor: pointer;
}

.contentImageContainer_Image{
  width: 25vw;
  height: 25vh;
  background-color: #27104dac;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 16px;
  color: wheat;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.447);
}

.contentImageContainer{
  width: 25vw;
  height: 25vh;
  background-color: #27104dac;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: wheat;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.447);
}
.contentImageContainer:hover{
  background-color: #27104de3;
  border: 1px solid white;
}

.blog_post_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 80%;
  padding: 4%;
  background-color: #27104de3;
  color: aliceblue;
  font-size: 20px;
  line-height: 160%;
  border: 2px solid white;
}

.contentSection{width: 100%;}

.secTopRow{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 10px;
}

.headingContent{
  font-size: 22px;
  font-weight: bolder;
}
.headingContentInput{
  font-size: 22px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 90%;
  padding: 1% 2%;
  border: 1px solid rgba(255, 255, 255, 0.45);
}
.headingContentInput::placeholder{
  color: rgba(240, 248, 255, 0.454);
}

.secDelIcon, .delIconComment{
  cursor: pointer;
}

.delIconComment{
  color: white;
}
.secDelIcon:hover,.delIconComment:hover{
  color: rgb(255, 165, 165);
}

.content_,.content_reverse{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:20px;
  margin-top: 10px;
}

.content_reverse{
flex-direction: row-reverse;
}

.contentImage{
  width: 25vw;
  border-radius: 10px;
}


.contentTextArea{
  width: 100%;
  height: 18vw;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 90%;
  padding: 1% 2%;
}
.contentTextArea::placeholder{
  color: rgba(240, 248, 255, 0.454);
}

.Blog-field-error-mesage{
  color: rgb(247, 116, 116);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 5px;
  font-weight: 700;
}

.blogInfoContainer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 80%;
  padding: 4%;
  background-color: #27104de3;
  margin-top: 30px;

}

.blogInfoTopRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.blogComments{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.commentsHeading{
  font-size: 1.5rem;
  font-weight: bolder;
  color: aliceblue;
}

.blogCommentWrite{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.commentInput,.postComment,.commentTextContainer{
  width: 100%;
}
.commentTextContainer{
  border: 1px solid whitesmoke;
  padding: 1rem;
  width: 70vw;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.replyTextContainer{
  border: 1px solid whitesmoke;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentText{
  color: antiquewhite;
}

.ReplyContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap:10px;
  flex-direction: column;
  width: 60vw;
  margin-left: 30px;
  margin-top: 20px;
}
.replyWrite{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  width: 100%;
  flex-direction: column;
}
.replyInput{
  width: 100%;
}

.replyTextArea{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 90%;
  padding: 1% 2%;
  height: 100px;
}
.replyTextArea::placeholder{
  color: rgba(240, 248, 255, 0.454);
}

.replyBtn{
  width: 200px;
}

@media only screen and (max-width: 996px) {
 .main-heading_,.main-heading_Input{
  font-size: 2rem;
  margin-top: 1rem;
  margin: 4%;
 }
 
 .blog_post_image,.blog_post_image_Container{
  width: 70vw;
 }
 .content_,.content_reverse{
  flex-direction: column;
 }
 .contentImage,.contentImageContainer,.contentImageContainer_Image{
  width: 60%;
 }
}

@media only screen and (max-width: 700px) {
  .main-heading_Input{
   width: 80vw;
  }
  .contentImageContainer_Image{
    width: 90%;
  }

}

@media only screen and (max-width: 700px) {
  
  .contentImageContainer_Image{
    justify-content: flex-start;
  }

  .blogInfoTopRow{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

}