.Dashboard_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../../../assets/sofa.jpg");
    background-attachment: fixed;
  }
  

  .DashboardForm {
    width: 100%;
    border: 1px solid #3b71ca;
    padding: 3rem;
    background-color: rgba(241, 224, 224, 0.881);
    border-radius: 3rem;
  }

  .usersTab{
    overflow: auto;
  }

  @media screen and (min-width: 601px) {
    .DashboardForm {
      width: 80%;
      padding: 30px;
    }
  }


  @media screen and (max-width: 600px) {
  
    .DashboardForm{
      width: 95%;
      padding: 0;
    }
  }

  @media screen and (max-width: 295px) {
    .DashboardForm {
      width: 100%;
      padding: 0;
      border-radius: 10px;
    }
  }